<!DOCTYPE html>
<!--
   Copyright 2021 The MITRE Corporation

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->
<html>

<head>
    <% include ../partials/head %>
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <header class="main-header">
            <% include ../partials/header %>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <% include ../partials/sidebar %>
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title"><%= config.shortappname %> Systems</h3>
                                <div class="pull-right box-tools">
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div id="systemstablediv" class="box-body table-responsive" style="overflow-x: scroll">
                                <table id="systemstable" class="table table-bordered table-hover" cellspacing="0"
                                    width="100%">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Name</th>
                                            <th class="text-center">Acronym</th>
                                            <th class="text-center">Categorization</th>
                                            <th class="text-center">Description (abbr)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% systems.forEach(function(system) {  
                                            if (system.NAME != 'CATALOG') {  %>
                                        <tr id="<%= system.PK_SYSTEM_ID %>">
                                            <td>
                                                <%= system.NAME %>
                                            </td>
                                            <td>
                                                <%= system.ACRONYM %>
                                            </td>
                                            <td>
                                                <%= system.CATEGORIZATION %>
                                            </td>
                                            <td>
                                                <%= system.DESCRIPTION %>
                                            </td>
                                        </tr>

                                            <% }
                                        }) %>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <button type="button" class="btn btn-primary" id="add_new_system_btn">Add New
                                    System</button>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                    <!-- /.box -->
                </div>
            </section>
        </div>
      
        <!-- modals -->
        <% include ../partials/cosaModal %>
        <% include ../partials/systemModal %>

    <% include ../partials/footer %>
    </div>
    
    <script type="text/javascript">
        $('#sidebar-collapse').addClass('show');
            $('#admin_manageSystems').addClass('active');

        var datatable, systemID;

        datatable = $('#systemstable').DataTable();

        $('#systemstable tbody').on('click', 'tr', function () {

            var data = datatable.row(this).data();
            systemID = data.DT_RowId;
            datatable.$('tr.selected').removeClass('selected');

            $(this).addClass('selected');

            $.ajax({

                url: "./getSystemInfo",

                data: {

                    "systemName": data[0],
                    "systemID": systemID

                },
                success: function (systemInfo) {

                    if (systemInfo.message == 'Success') {

                        $("#sessionForm").trigger("reset");

                        $('#inputName').val(systemInfo.data[0].NAME)
                        $('#inputAcronym').val(systemInfo.data[0].ACRONYM)
                        $('#inputCategorization').val(systemInfo.data[0].FK_CATEGORIZATION_ID)
                        $('#inputDescription').val(systemInfo.data[0].DESCRIPTION);
                        $('#inputActive').val(systemInfo.data[0].ACTIVE);


                        var admins = [];
                        var evidenceApprovers = [];
                        var evidenceProviders = [];
                        var users = [];

                        for (var i = 0; i < systemInfo.data.length; i++) {
                            if (systemInfo.data[i].ROLE_NAME.indexOf('Admin') != '-1') {
                                admins.push(systemInfo.data[i].FK_USER_ID);
                            }
                            if (systemInfo.data[i].ROLE_NAME.indexOf('Evidence Approver') != '-1') {
                                evidenceApprovers.push(systemInfo.data[i].FK_USER_ID);
                            }
                            if (systemInfo.data[i].ROLE_NAME.indexOf('Evidence Provider') != '-1') {
                                evidenceProviders.push(systemInfo.data[i].FK_USER_ID);
                            }                           
                            if (systemInfo.data[i].ROLE_NAME.indexOf('User') != '-1') {
                                users.push(systemInfo.data[i].FK_USER_ID);
                            }
                        } //end for loop

                        $('#inputAdmins').val(admins).trigger('change')
                        $('#inputEvidenceApprovers').val(evidenceApprovers).trigger('change')
                        $('#inputEvidenceProviders').val(evidenceProviders).trigger('change')
                        $('#inputUsers').val(users).trigger('change')

                        $('#btnCreateSystem').hide();
                        $('#btnUpdateSystem').show();

                        $('#systemModal').modal();

                    } else {
                        alert("Error")
                    }
                },
                error: function (error) {

                    if (error.status == '401') {
                        alert('Unauthorized... ');
                        window.location.replace('/home');
                    } else {
                        // handle error
                        console.log('Error getting system information ' + error);
                    }
                }
            });
        });

        $("#add_new_system_btn").click(function (event) {

            $('#btnCreateSystem').show();
            $('#btnUpdateSystem').hide();
            // need to refresh the fields since this is a new System being added.
            $("#systemForm")[0].reset();
            // refresh the select2 as well
            $('select.select2').each(function () {
                $(this).val('').trigger("change");
            });
            // now show the modal
            $('#systemModal').modal();
        });

        $("#btnCreateSystem").click(function (event) {
            event.preventDefault();
            $.post("./CreateSystem", {
                "name": $('#inputName').val(),
                "acronym": $('#inputAcronym').val(),
                "categorization": $('#inputCategorization').val(),
                "description": $('#inputDescription').val(),
                "active": $('#inputActive').val(),
                "admins": $('#inputAdmins').val(),
                "evidenceApprovers": $('#inputEvidenceApprovers').val(),
                "evidenceProviders": $('#inputEvidenceProviders').val(),
                "users": $('#inputUsers').val()
            }).done(function (data) {
                location.reload();
            }).fail(function (err) {
                if (err.status == '401') {
                    alert('Unauthorized... ');
                    window.location.replace('/home');
                } else {
                    alert("Error: " + JSON.stringify(err.responseText))
                }
            });
        });

        $("#btnUpdateSystem").click(function (event) {
            event.preventDefault();
            $.post("./updateSystem", {
                "systemID": systemID,
                "name": $('#inputName').val(),
                "acronym": $('#inputAcronym').val(),
                "categorization": $('#inputCategorization').val(),
                "description": $('#inputDescription').val(),
                "active": $('#inputActive').val(),
                "admins": $('#inputAdmins').val(),
                "evidenceApprovers": $('#inputEvidenceApprovers').val(),
                "evidenceProviders": $('#inputEvidenceProviders').val(),
                "users": $('#inputUsers').val()
            },
                function (data, status) {
                    console.log(data) // 1 record updated
                    console.log(status) // success
                    location.reload();
                }).fail(function (err) {
                    if (err.status == '401') {
                        alert('Unauthorized... ');
                        window.location.replace('/home');
                    } else {
                        alert("Error: " + JSON.stringify(err.responseText))
                    }
                });
        });

        $("#btnDeleteSystem").click(function (event) {
            event.preventDefault();
            $.post("./deleteSystem", {
                "systemID": systemID
            },
                function (data, status) {
                    console.log(data) // 1 record updated
                    console.log(status) // success
                    location.reload();
                }).fail(function (err) {
                    if (err.status == '401') {
                        alert('Unauthorized... ');
                        window.location.replace('/home');
                    } else {
                        alert("Error: " + JSON.stringify(err.responseText))
                    }
                });
        });

        $('.select2').select2(); // must have for Multi-select to work. -Jc

    </script>

</body>

</html>
